
/* main content */
div#tv {
	margin: auto;
	width: 650px;
}

div#tvConsole {
	position: relative;
	background: url(images/tv.png) no-repeat top left;
	width: 650px;
	height: 770px;
	top: 0px;
	left: 0px;
}

/* video */
div#videoDiv {
	position: relative;
	top: 70px;
	left: 80px;
}

video {
	background-color: black;
	width: 480px;
	height: 360px;
	z-index: 0;
}

div#highlight {
	position: absolute;
	width: 213px;
	height: 230px;
	top: 0px;
	left: 20px;
	z-index: 2;
}

div#controls {
	background-color: black;
	position: absolute;
	width: 480px;
	height: 50px;
	z-index: 1;
	top: 70px;
	left: 80px;
}

div#controls p {
	margin-left: 30px;
	color: white;
}